In [19]:
import pandas as pd
import json
with open('t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [9]:
df_match.shape

(45, 7)

In [42]:
df_match.rename({'scorecard':'match_id'},axis=1,inplace=True)
df_match.head()

match_ids_dict={}
 
for index,row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    match_ids_dict[key1]=row["match_id"]
    match_ids_dict[key2]=row["match_id"]
    
match_ids_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

In [43]:
with open('t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)
    all_records=[]
    for rec in data:
        all_records.extend(rec['battingSummary'])
all_records[0]

{'match': 'Namibia Vs Sri Lanka',
 'teamInnings': 'Namibia',
 'battingPos': 1,
 'batsmanName': 'Michael van Lingen',
 'dismissal': 'c Pramod Madushan b Chameera',
 'runs': '3',
 'balls': '6',
 '4s': '0',
 '6s': '0',
 'SR': '50.00'}

In [26]:
df_batting = pd.DataFrame(all_records)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [30]:
df_batting["out/not_out"]=df_batting.dismissal.apply(lambda x:"out" if len(x)>0 else "not_out")
df_batting.head(3)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out

In [31]:
df_batting.drop(columns=["dismissal"],inplace=True)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,mach_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out,T20I # 1879
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out,T20I # 1879
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out,T20I # 1879
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out,T20I # 1879
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out,T20I # 1879

In [58]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x:x.replace('â€',''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x:x.replace('€',''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x:x.replace('\xa0',''))
df_batting.head(30)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,mach_id
0,Namibia Vs Sri Lanka,Namibia,1,Michel vn Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divn l Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jn Nicol Loftie-Eton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephn Brd,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhrd Ersmus(c),20,24,0,0,83.33,out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6,Jn Frylinck,44,28,4,0,157.14,out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7,Dvid Wiese,0,1,0,0,0.00,out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pthum Nissnk,9,10,1,0,90.00,out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusl Mendis,6,6,0,0,100.00,out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhnnjy de Silv,12,11,1,0,109.09,out,T20I # 1823
11,Namibia Vs Sri Lanka,Sri Lanka,4,Dnushk Gunthilk,0,1,0,0,0.00,out,T20I # 1823
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhnuk Rjpks,20,21,2,0,95.23,out,T20I # 1823
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dsun Shnk(c),29,23,2,1,126.08,out,T20I # 1823
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wnindu Hsrng de Silv,4,8,0,0,50.00,out,T20I # 1823
15,Namibia Vs Sri Lanka,Sri Lanka,8,Chmik Krunrtne,5,8,0,0,62.50,out,T20I # 1823
16,Namibia Vs Sri Lanka,Sri Lanka,9,Prmod Mdushn,0,0,0,0,-,out,T20I # 1823
17,Namibia Vs Sri Lanka,Sri Lanka,10,Dushmnth Chmeer,8,15,0,0,53.33,out,T20I # 1823
18,Namibia Vs Sri Lanka,Sri Lanka,11,Mheesh Theekshn,11,11,0,1,100.00,not_out,T20I # 1823
19,U.A.E. Vs Netherlands,U.A.E.,1,Chirg Suri,12,20,1,0,60.00,out,T20I # 1825
20,U.A.E. Vs Netherlands,U.A.E.,2,Muhmmd Wseem,41,47,1,2,87.23,out,T20I # 1825
21,U.A.E. Vs Netherlands,U.A.E.,3,Kshif Dud,15,14,0,1,107.14,out,T20I # 1825
22,U.A.E. Vs Netherlands,U.A.E.,4,Vriity Arvind,18,21,0,0,85.71,out,T20I # 1825
23,U.A.E. Vs Netherlands,U.A.E.,5,Zwr Frid,2,4,0,0,50.00,out,T20I # 1825
24,U.A.E. Vs Netherlands,U.A.E.,6,Bsil Hmeed,4,4,1,0,100.00,out,T20I # 1825
25,U.A.E. Vs Netherlands,U.A.E.,7,Chundngpoyil Rizwn(c),1,2,0,0,50.00,out,T20I # 1825
26,U.A.E. Vs Netherlands,U.A.E.,8,Ayn Afzl Khn,5,7,0,0,71.42,out,T20I # 1825
27,U.A.E. Vs Netherlands,U.A.E.,9,Krthik Meiyppn,0,0,0,0,-,not_out,T20I # 1825
28,U.A.E. Vs Netherlands,U.A.E.,10,Junid Siddique,0,1,0,0,0.00,not_out,T20I # 1825
29,U.A.E. Vs Netherlands,Netherlands,1,Vikrmjit Singh,10,7,2,0,142.85,out,T20I # 1825

In [56]:
df_batting["mach_id"]=df_batting["match"].map(match_ids_dict)

df_batting.head(12)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,mach_id
0,Namibia Vs Sri Lanka,Namibia,1,Michel vn Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divn l Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jn Nicol Loftie-Eton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephn Brd,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhrd Ersmus(c),20,24,0,0,83.33,out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6,Jn Frylinck,44,28,4,0,157.14,out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7,Dvid Wiese,0,1,0,0,0.00,out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pthum Nissnk,9,10,1,0,90.00,out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusl Mendis€,6,6,0,0,100.00,out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhnnjy de Silv,12,11,1,0,109.09,out,T20I # 1823
11,Namibia Vs Sri Lanka,Sri Lanka,4,Dnushk Gunthilk,0,1,0,0,0.00,out,T20I # 1823

In [59]:
df_batting.to_csv('t20_csv_files/temp.csv',index=False)